In [1]:
from pymongo import MongoClient
import pandas as pd
import time

In [2]:
client = MongoClient("localhost:27017")

In [3]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
client.list_database_names()

['IronHack', 'admin', 'config', 'local']

In [5]:
db = client["IronHack"]

In [6]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'IronHack')

In [7]:
c = db.get_collection('companies')

In [8]:
c.find_one()

{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
 'name': 'Wetpaint',
 'permalink': 'abc2',
 'crunchbase_url': 'http://www.crunchbase.com/company/wetpaint',
 'homepage_url': 'http://wetpaint-inc.com',
 'blog_url': 'http://digitalquarters.net/',
 'blog_feed_url': 'http://digitalquarters.net/feed/',
 'twitter_username': 'BachelrWetpaint',
 'category_code': 'web',
 'number_of_employees': 47,
 'founded_year': 2005,
 'founded_month': 10,
 'founded_day': 17,
 'deadpooled_year': 1,
 'tag_list': 'wiki, seattle, elowitz, media-industry, media-platform, social-distribution-system',
 'alias_list': '',
 'email_address': 'info@wetpaint.com',
 'phone_number': '206.859.6300',
 'description': 'Technology Platform Company',
 'created_at': datetime.datetime(2007, 5, 25, 6, 51, 27),
 'updated_at': 'Sun Dec 08 07:15:44 UTC 2013',
 'overview': '<p>Wetpaint is a technology platform company that uses its proprietary state-of-the-art technology and expertise in social media to build and monetize audiences for digital publishers. Wetpaint’s own online property, Wetpaint Entertainment, an entertainment news site that attracts more than 12 million unique visitors monthly and has over 2 million Facebook fans, is a proof point to the company’s success in building and engaging audiences. Media companies can license Wetpaint’s platform which includes a dynamic playbook tailored to their individual needs and comprehensive training. Founded by Internet pioneer Ben Elowitz, and with offices in New York and Seattle, Wetpaint is backed by Accel Partners, the investors behind Facebook.</p>',
 'image': {'available_sizes': [[[150, 75],
    'assets/images/resized/0000/3604/3604v14-max-150x150.jpg'],
   [[250, 125], 'assets/images/resized/0000/3604/3604v14-max-250x250.jpg'],
   [[450, 225], 'assets/images/resized/0000/3604/3604v14-max-450x450.jpg']]},
 'products': [{'name': 'Wikison Wetpaint', 'permalink': 'wetpaint-wiki'},
  {'name': 'Wetpaint Social Distribution System',
   'permalink': 'wetpaint-social-distribution-system'}],
 'relationships': [{'is_past': False,
   'title': 'Co-Founder and VP, Social and Audience Development',
   'person': {'first_name': 'Michael',
    'last_name': 'Howell',
    'permalink': 'michael-howell'}},
  {'is_past': False,
   'title': 'Co-Founder/CEO/Board of Directors',
   'person': {'first_name': 'Ben',
    'last_name': 'Elowitz',
    'permalink': 'ben-elowitz'}},
  {'is_past': False,
   'title': 'COO/Board of Directors',
   'person': {'first_name': 'Rob',
    'last_name': 'Grady',
    'permalink': 'rob-grady'}},
  {'is_past': False,
   'title': 'SVP, Strategy and Business Development',
   'person': {'first_name': 'Chris',
    'last_name': 'Kollas',
    'permalink': 'chris-kollas'}},
  {'is_past': False,
   'title': 'Board',
   'person': {'first_name': 'Theresia',
    'last_name': 'Ranzetta',
    'permalink': 'theresia-ranzetta'}},
  {'is_past': False,
   'title': 'Board Member',
   'person': {'first_name': 'Gus',
    'last_name': 'Tai',
    'permalink': 'gus-tai'}},
  {'is_past': False,
   'title': 'Board',
   'person': {'first_name': 'Len',
    'last_name': 'Jordan',
    'permalink': 'len-jordan'}},
  {'is_past': False,
   'title': 'Head of Technology and Product',
   'person': {'first_name': 'Alex',
    'last_name': 'Weinstein',
    'permalink': 'alex-weinstein'}},
  {'is_past': True,
   'title': 'CFO',
   'person': {'first_name': 'Bert',
    'last_name': 'Hogue',
    'permalink': 'bert-hogue'}},
  {'is_past': True,
   'title': 'CFO/ CRO',
   'person': {'first_name': 'Brian',
    'last_name': 'Watkins',
    'permalink': 'brian-watkins'}},
  {'is_past': True,
   'title': 'Senior Vice President, Marketing',
   'person': {'first_name': 'Rob',
    'last_name': 'Grady',
    'permalink': 'rob-grady'}},
  {'is_past': True,
   'title': 'VP, Technology and Product',
   'person': {'first_name': 'Werner',
    'last_name': 'Koepf',
    'permalink': 'werner-koepf'}},
  {'is_past': True,
   'title': 'VP Marketing',
   'person': {'first_name': 'Kevin',
    'last_name': 'Flaherty',
    'permalink': 'kevin-flaherty'}},
  {'is_past': True,
   'title': 'VP User Experience',
   'person': {'first_name': 'Alex',
    'last_name': 'Berg',
    'permalink': 'alex-berg'}},
  {'is_past': True,
   'title': 'VP Engineering',
   'person': {'first_name': 'Steve',
    'last_name': 'McQuade',
    'permalink': 'steve-mcquade'}},
  {'is_past': True,
   'title': 'Executive Editor',
   'person': {'first_name': 'Susan',
    'last_name': 'Mulcahy',
    'permalink': 'susan-mulcahy'}},
  {'is_past': True,
   'title': 'VP Business Development',
   'person': {'first_name': 'Chris',
    'last_name': 'Kollas',
    'permalink': 'chris-kollas'}}],
 'competitions': [{'competitor': {'name': 'Wikia', 'permalink': 'wikia'}},
  {'competitor': {'name': 'JotSpot', 'permalink': 'jotspot'}},
  {'competitor': {'name': 'Socialtext', 'permalink': 'socialtext'}},
  {'competitor': {'name': 'Ning by Glam Media', 'permalink': 'ning'}},
  {'competitor': {'name': 'Soceeo', 'permalink': 'soceeo'}},
  {'competitor': {'name': 'Yola', 'permalink': 'yola'}},
  {'competitor': {'name': 'SocialGO', 'permalink': 'socialgo'}},
  {'competitor': {'name': 'IslamNor', 'permalink': 'islamnor'}}],
 'providerships': [],
 'total_money_raised': '$39.8M',
 'funding_rounds': [{'id': 888,
   'round_code': 'a',
   'source_url': 'http://seattlepi.nwsource.com/business/246734_wiki02.html',
   'source_description': '',
   'raised_amount': 5250000,
   'raised_currency_code': 'USD',
   'funded_year': 2005,
   'funded_month': 10,
   'funded_day': 1,
   'investments': [{'company': None,
     'financial_org': {'name': 'Frazier Technology Ventures',
      'permalink': 'frazier-technology-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Trinity Ventures',
      'permalink': 'trinity-ventures'},
     'person': None}]},
  {'id': 889,
   'round_code': 'b',
   'source_url': 'http://pulse2.com/2007/01/09/wiki-builder-website-wetpaint-welcomes-95m-funding/',
   'source_description': '',
   'raised_amount': 9500000,
   'raised_currency_code': 'USD',
   'funded_year': 2007,
   'funded_month': 1,
   'funded_day': 1,
   'investments': [{'company': None,
     'financial_org': {'name': 'Accel Partners',
      'permalink': 'accel-partners'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Frazier Technology Ventures',
      'permalink': 'frazier-technology-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Trinity Ventures',
      'permalink': 'trinity-ventures'},
     'person': None}]},
  {'id': 2312,
   'round_code': 'c',
   'source_url': 'http://www.accel.com/news/news_one_up.php?news_id=185',
   'source_description': 'Accel',
   'raised_amount': 25000000,
   'raised_currency_code': 'USD',
   'funded_year': 2008,
   'funded_month': 5,
   'funded_day': 19,
   'investments': [{'company': None,
     'financial_org': {'name': 'DAG Ventures', 'permalink': 'dag-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Accel Partners',
      'permalink': 'accel-partners'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Trinity Ventures',
      'permalink': 'trinity-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Frazier Technology Ventures',
      'permalink': 'frazier-technology-ventures'},
     'person': None}]}],
 'investments': [],
 'acquisition': {'price_amount': 30000000,
  'price_currency_code': 'USD',
  'term_code': 'cash_and_stock',
  'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
  'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
  'acquired_year': 2013,
  'acquired_month': 12,
  'acquired_day': 16,
  'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}},
 'acquisitions': [],
 'offices': [{'description': '',
   'address1': '710 - 2nd Avenue',
   'address2': 'Suite 1100',
   'zip_code': '98104',
   'city': 'Seattle',
   'state_code': 'WA',
   'country_code': 'USA',
   'latitude': 47.603122,
   'longitude': -122.333253},
  {'description': '',
   'address1': '270 Lafayette Street',
   'address2': 'Suite 505',
   'zip_code': '10012',
   'city': 'New York',
   'state_code': 'NY',
   'country_code': 'USA',
   'latitude': 40.7237306,
   'longitude': -73.9964312}],
 'milestones': [{'id': 5869,
   'description': "Wetpaint named in Lead411's Hottest Seattle Companies list",
   'stoned_year': 2010,
   'stoned_month': 6,
   'stoned_day': 8,
   'source_url': 'http://www.lead411.com/seattle-companies.html',
   'source_text': None,
   'source_description': 'LEAD411 LAUNCHES "HOTTEST SEATTLE COMPANIES" AWARDS',
   'stoneable_type': 'Company',
   'stoned_value': None,
   'stoned_value_type': None,
   'stoned_acquirer': None,
   'stoneable': {'name': 'Wetpaint', 'permalink': 'wetpaint'}},
  {'id': 8702,
   'description': 'Site-Builder Wetpaint Makes One For Itself, Using the Demand Media Playbook',
   'stoned_year': 2010,
   'stoned_month': 9,
   'stoned_day': 6,
   'source_url': 'http://mediamemo.allthingsd.com/20100906/site-builder-wetpaint-makes-one-for-itself-using-the-demand-media-playbook/',
   'source_text': None,
   'source_description': 'All Things D',
   'stoneable_type': 'Company',
   'stoned_value': None,
   'stoned_value_type': None,
   'stoned_acquirer': None,
   'stoneable': {'name': 'Wetpaint', 'permalink': 'wetpaint'}}],
 'video_embeds': [],
 'screenshots': [{'available_sizes': [[[150, 86],
     'assets/images/resized/0016/0929/160929v2-max-150x150.png'],
    [[250, 143], 'assets/images/resized/0016/0929/160929v2-max-250x250.png'],
    [[450, 258], 'assets/images/resized/0016/0929/160929v2-max-450x450.png']],
   'attribution': None}],
 'external_links': [{'external_url': 'http://www.geekwire.com/2011/rewind-ben-elowitz-wetpaint-ceo-building-type-media-company',
   'title': 'GeekWire interview: Rewind - Ben Elowitz, Wetpaint CEO, on building a new type of media company'},
  {'external_url': 'http://techcrunch.com/2012/06/17/search-and-social-how-two-will-soon-become-one/',
   'title': 'Guest post by CEO Ben Elowitz in TechCrunch'},
  {'external_url': 'http://allthingsd.com/20120516/what-to-expect-when-facebook-is-expecting-five-predictions-for-facebooks-first-public-year/',
   'title': 'Guest post by CEO Ben Elowitz in AllThingsD'},
  {'external_url': 'http://adage.com/article/digitalnext/facebook-biggest-player-advertising-s-540-billion-world/235708/',
   'title': 'Guest post by CEO Ben Elowitz in AdAge'},
  {'external_url': 'http://www.businessinsider.com/facebook-captures-14-percent-of-our-online-attention-but-only-4-percent-of-ad-spending-online-2012-6',
   'title': 'Guest post by CEO Ben Elowitz in Business Insider'},
  {'external_url': 'http://allfacebook.com/wetpaint-media-data_b75963',
   'title': 'AllFacebook coverage of Wetpaint'},
  {'external_url': 'http://adage.com/article/digital/celeb-site-wetpaint-shows-media-profit-facebook/237828/',
   'title': 'Profile of Wetpaint in Ad Age'},
  {'external_url': 'http://allthingsd.com/20121018/how-to-boost-your-facebook-traffic-tips-and-tricks-from-wetpaint/',
   'title': 'Interview with Wetpaint CEO Ben Elowitz in All Things D'},
  {'external_url': 'http://www.xconomy.com/seattle/2012/10/19/wetpaint-starts-licensing-its-facebook-based-media-distribution-tech/',
   'title': 'Profile of Wetpaint in Xconomy'}],
 'partners': []}

In [9]:
filter_ = {"category_code":"games_video"}
projection = {"_id": 0, "name": 1, "offices.latitude": 1, "offices.longitude": 1, "offices.city": 1}

In [10]:
c.find_one(filter_, projection)

{'name': 'Flektor',
 'offices': [{'city': 'Culver City',
   'latitude': 34.025958,
   'longitude': -118.379768}]}

In [11]:
result = list(c.find(filter_, projection))

result[0]

{'name': 'Flektor',
 'offices': [{'city': 'Culver City',
   'latitude': 34.025958,
   'longitude': -118.379768}]}

In [12]:
name_list = []
long_list = []
lat_list = []
city_list = []

for i in range(0, len(result) - 1):
    if "offices" in result[i] and len(result[i]["offices"]) > 0:
        if "latitude" in result[i]["offices"][0] and "longitude" in result[i]["offices"][0]:
            name_list.append(result[i]["name"])
            lat_list.append(result[i]["offices"][0]["latitude"])
            long_list.append(result[i]["offices"][0]["longitude"])
            city_list.append(result[i]["offices"][0]["city"])

In [13]:
len(name_list)

838

In [14]:
len(lat_list)

838

In [15]:
len(long_list)

838

In [16]:
len(city_list)

838

In [17]:
# Creating dataframe
gaming_offices = pd.DataFrame(
    {'Name': name_list,
     'Latitude': long_list,
     'Longitude': lat_list,
     'City': city_list
    })

In [18]:
#Dropping rows with Nan values
gaming_offices.dropna(inplace=True)
gaming_offices

            Name    Latitude  Longitude           City
0        Flektor -118.379768  34.025958    Culver City
1           Lala -122.154369  37.451151      Palo Alto
2          Joost  -74.009447  40.746497       New York
3       Babelgum   -6.267494  53.344104         London
5           Kyte -122.409173  37.788482  San Francisco
..           ...         ...        ...            ...
831   MechaWorks -122.009405  37.383444      Sunnyvale
832  DJ Nitrogen -122.449408  37.784174  San Francisco
833  Shape Games  -77.042423  38.814208     Alexandria
836   Fictionaut  -73.916127  40.759795        Astoria
837   Tiny Speck -123.109217  49.282455      Vancouver

[592 rows x 4 columns]

In [19]:
# Finding most commonly occuring cities
gaming_offices["City"].value_counts()[:20]

New York         48
San Francisco    47
Los Angeles      24
                 23
London           18
Palo Alto        16
Seattle          13
Paris            11
Santa Monica      8
San Mateo         8
Vancouver         7
Sunnyvale         7
Miami             6
Mountain View     6
Chicago           6
Munich            5
Toronto           5
Boston            5
Redwood City      5
Cambridge         5
Name: City, dtype: int64

In [20]:
# 3 most commonly occuring cities are: New York, San Francisco, Los Angeles

In [21]:
gaming_offices.columns

Index(['Name', 'Latitude', 'Longitude', 'City'], dtype='object')

In [22]:
cities_to_keep = ['New York', 'San Francisco', 'Los Angeles']

# drop rows where the value in column_1 is not in values_to_keep
gaming_offices = gaming_offices[gaming_offices['City'].isin(cities_to_keep)]
gaming_offices

                        Name    Latitude  Longitude           City
2                      Joost  -74.009447  40.746497       New York
5                       Kyte -122.409173  37.788482  San Francisco
8                    Stickam -118.254558  34.051409    Los Angeles
10                Livestream  -73.995625  40.726155       New York
11                   Ustream -122.079480  37.392936  San Francisco
..                       ...         ...        ...            ...
809                    Exent  -74.005568  40.752380       New York
811              Mondo Media -122.402021  37.764169  San Francisco
826               Film Annex  -74.009447  40.746497       New York
827  FremantleMedia Ventures  -73.985542  40.743945       New York
832              DJ Nitrogen -122.449408  37.784174  San Francisco

[119 rows x 4 columns]

In [23]:
gaming_offices['Latitude'], gaming_offices['Longitude'] = gaming_offices['Longitude'], gaming_offices['Latitude']
gaming_offices

/var/folders/6b/73zmt1sx3c30hcgymp7n2zw40000gn/T/ipykernel_21116/3099485257.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gaming_offices['Latitude'], gaming_offices['Longitude'] = gaming_offices['Longitude'], gaming_offices['Latitude']

                        Name   Latitude   Longitude           City
2                      Joost  40.746497  -74.009447       New York
5                       Kyte  37.788482 -122.409173  San Francisco
8                    Stickam  34.051409 -118.254558    Los Angeles
10                Livestream  40.726155  -73.995625       New York
11                   Ustream  37.392936 -122.079480  San Francisco
..                       ...        ...         ...            ...
809                    Exent  40.752380  -74.005568       New York
811              Mondo Media  37.764169 -122.402021  San Francisco
826               Film Annex  40.746497  -74.009447       New York
827  FremantleMedia Ventures  40.743945  -73.985542       New York
832              DJ Nitrogen  37.784174 -122.449408  San Francisco

[119 rows x 4 columns]

In [25]:
gaming_offices = gaming_offices.sort_values(by='City').reset_index(drop=True)
gaming_offices

                      Name   Latitude   Longitude           City
0              Mybandstock  42.280268  -83.742058    Los Angeles
1                 Taltopia  34.052187 -118.243425    Los Angeles
2    Social Gaming Network  37.446823 -122.161523    Los Angeles
3              Modern Feed  34.085749 -118.343791    Los Angeles
4                  OVGuide  34.052187 -118.243425    Los Angeles
..                     ...        ...         ...            ...
114       Serious Business  37.789321 -122.401362  San Francisco
115                 Sutros  37.756922 -122.420870  San Francisco
116          stickychicken  37.775196 -122.419204  San Francisco
117             One Season  37.775196 -122.419204  San Francisco
118            DJ Nitrogen  37.784174 -122.449408  San Francisco

[119 rows x 4 columns]

In [26]:

import pandas as pd
import requests

def get_nearby_venues(lat, lng, category_code):
    url = f"https://api.foursquare.com/v3/places/search?ll={lat}%2C{lng}&categories={category_code}"

    headers = {
        "accept": "application/json",
        "Authorization": "fsq3kP6YLxCVarFG20O8HCsrdOH1BPtM49DNvjZ0rmBFAbY="
    }

    response = requests.get(url, headers=headers).json()
    
    if response["results"]:
        name = response["results"][0]["name"]
        distance = response["results"][0]["distance"]
        return name, distance
    else:
        return None, None

category_codes = [
    "International Airport", 19040,
    "Train station", 19047,
    "Nightclub", 10032,
    "Pet grooming", 11134,
    "Vegan restaurant", 13377,
    "Basketball stadium", 18006,
    "Design studio", 11030,
    "Daycare", 11026,
    "Preschool", 12056,
    "High school", 12059
]

offices_df = gaming_offices[["Name", "Latitude", "Longitude"]].copy()

for i in range(0, len(category_codes), 2):
    category_name = category_codes[i]
    category_code = category_codes[i+1]
    column_name = f"{category_name}: Name"
    column_distance = f"{category_name}: Distance"
    offices_df[column_name] = None
    offices_df[column_distance] = None
    
    for index, row in offices_df.iterrows():
        lat = row["Latitude"]
        lng = row["Longitude"]
        name, distance = get_nearby_venues(lat, lng, category_code)
        offices_df.at[index, column_name] = name
        offices_df.at[index, column_distance] = distance

offices_df.head()

,Name,Latitude,Longitude,International Airport: Name,International Airport: Distance,Train station: Name,Train station: Distance,Nightclub: Name,Nightclub: Distance,Pet grooming: Name,...,Basketball stadium: Name,Basketball stadium: Distance,Design studio: Name,Design studio: Distance,Daycare: Name,Daycare: Distance,Preschool: Name,Preschool: Distance,High school: Name,High school: Distance
0,Mybandstock,42.280268,-83.742058,None,None,Ann Arbor Station,837,Nightcap,544,BreedAbove,...,Player Development Center,2320,Signs By Tomorrow - Ann Arbor,5750,Little Angels Preschool & Daycare,9979,Fumcn,117,Canton High School,21852
1,Taltopia,34.052187,-118.243425,Los Angeles International Airport (LAX),19233,Angels Flight - Upper Station,737,Monty Bar,2141,Tailwaggers,...,Champions,14037,Silver Screening Room - Pacific Design Center,13233,Murchison Early Education Center,3462,Pinocchio Child Care Center,4977,Palisades Charter High School,26503
2,Social Gaming Network,37.446823,-122.161523,San Francisco International Airport (SFO),27413,Mountain View Caltrain Station,9541,The Ritz,27588,Wag Hotels Redwood City,...,Sports House Indoor Sports and Cafe,4915,Facebook Analog Research Laboratory,4275,Love N Care Christian Preschool & Daycare,2846,New Beginnings Preschool,1955,Burlingame High School,22192
3,Modern Feed,34.085749,-118.343791,Los Angeles International Airport (LAX),16797,Angels Flight - Upper Station,9276,The Abbey Food & Bar,3824,Tailwaggers,...,Champions,13474,Silver Screening Room - Pacific Design Center,3511,A Kid's Place,12214,Pinocchio Child Care Center,4994,Palisades Charter High School,17776
4,OVGuide,34.052187,-118.243425,Los Angeles International Airport (LAX),19233,Angels Flight - Upper Station,737,Monty Bar,2141,Tailwaggers,...,Champions,14037,Silver Screening Room - Pacific Design Center,13233,Murchison Early Education Center,3462,Pinocchio Child Care Center,4977,Palisades Charter High School,26503

In [36]:
offices_df.to_csv(r'/Users/tom/desktop\officesproject.csv')